<!--- Roi Calculator Template --->


<p class="lead">Use this calculator to find out what kind of a return you can expected on your investment. Fill out the form below!</p>


<form>

	<div class="form-group">
		<label>Amount Invested</label>
		<input type="number" class="form-control" id="amountInvested" placeholder="Dollar Amount Invested?" ng-model="investedAmount"/>
	</div>


	<div class="form-group">
		<label>Percentage Rate in Decimal Form (Example: 18% = .18 & 1.8% = .018 !!)</label>
		<input type="number" class="form-control" id="investmentInterest" placeholder="Decimal Form Only!" ng-model="investmentInterest">
	</div>



	<br />

	<button type="button" class="btn btn-info" ng-click="investmentGainsCalc()">Calculate Return Total</button>

	<div ng-show="returnsShow">
		<p class="lead">Your total investment gain is {{investmentGains}}</p>
	</div>

	<br /><br />

	<button type="button" class="btn btn-info"ng-click="totalRoi()">Calculate ROI</button>

	<div ng-show="roiShow">
		<p class="lead">Your total ROI is {{roiAmount}}%</p>
	</div>

</form>